.navigation{
    display: flex;
    align-items: center;
    justify-content: center; 

    width: 100%;
    height: 50px;


    gap: 32px;

    border-bottom: 1px solid $color-white-300;

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        text-decoration: none;  // 추후 div 태그를 React Router의 Link 태그로 변경 시 필요
        color: $color-white-700;
        font-weight: 600;
    }
}