aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiopyupbit==0.2.4
aiosignal==1.4.0
altgraph==0.17.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
asgiref==3.11.0
attrs==25.4.0
blinker==1.9.0
cachetools==6.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
contourpy==1.3.3
coverage==7.13.0
cryptography==46.0.3
cycler==0.12.1
dj-rest-auth==7.0.1
Django==5.2.9
django-allauth==64.0.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
dotenv==0.9.9
fastapi==0.128.0
filelock==3.20.1
Flask==3.1.2
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.12.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.75.1
grpcio-status==1.71.2
gTTS==2.5.4
h11==0.16.0
httplib2==0.31.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
lap==0.5.12
macholib==1.16.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.0
networkx==3.6.1
numpy==2.2.6
oauthlib==3.3.1
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.3
pillow==11.3.0
pluggy==1.6.0
plyer==2.1.0
polars==1.36.1
polars-runtime-32==1.36.1
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.0
pydantic_core==2.41.1
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyJWT==2.10.1
pyparsing==3.2.5
PySide6==6.9.3
PySide6_Addons==6.9.3
PySide6_Essentials==6.9.3
pytesseract==0.3.13
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pyupbit==0.2.34
PyYAML==6.0.3
reportlab==4.4.6
requests==2.32.5
rich==14.2.0
rsa==4.9.1
schedule==1.2.2
scipy==1.16.3
seaborn==0.13.2
shellingham==1.5.4
shiboken6==6.9.3
six==1.17.0
sqlparse==0.5.4
starlette==0.50.0
sympy==1.14.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.239
ultralytics-thop==2.0.18
uritemplate==4.2.0
urllib3==2.6.0
uvicorn==0.40.0
websockets==15.0.1
Werkzeug==3.1.4
yarl==1.22.0
