.card {
    width: 260px;                           // 카드 컨테이너의 너비 지정
    height: 260px;                          // 카드 컨테이너의 높이 지정

    background-color: $color-gray-200;      // 배경색 변수 할당
    border-radius: 6px;                     // 카드 모서리 곡률 설정

    cursor: pointer;                        // 요소에 마우스 호버 시 포인터 표시

    // [공부] Media Query: 화면 크기에 따른 반응형 스타일 정의
    @media (min-width: 1024px) and (max-width: 1440px) {
        width: 200px;                       // 구간 내 너비 축소
        height: 200px;                      // 구간 내 높이 축소
    }

    // 카드 내부에 배치되는 이미지 요소의 스타일
    &__image {
        width: 100%;                        // 부모 너비의 100% 차
        height: 100%;                       // 부모 높이의 100% 차지임

        border-radius: 6px;                 // 이미지 모서리 곡률 설정
        object-fit: cover;                  // 이미지 비율 유지 및 영역 가득 채움
    }
}